body {
  background-color: rgb(255, 255, 255);
  font-size: 1em;
}

.element {
  float: left;
  width: 100%;
  background-size: auto auto;
  background-position: left top;
  background-color: rgb(222, 222, 222);
}

._text {
  display: block;
  position: relative;
  float: left;
  width: 250px;
  height: 50px;
  margin-top: -61px;
  border-radius: 3px;
  background-size: auto auto;
  background-position: left top;
  background-color: rgb(222, 222, 222);
  font: 400 1em/1.38 Helvetica;
  text-align: center;
  color: rgb(0, 0, 0);
}

.element-1 {
  position: relative;
  z-index: 0;
  height: 307px;
  background-image: url('../images/testheader.jpg');
}

.element-2 {
  position: relative;
  clear: both;
  z-index: 1;
  height: 86px;
  margin-top: -25px;
  background-image: url('../images/testnavbar.jpg');
}

.element-3 {
  height: 1027px;
  background-image: url('../images/testcontent.jpg');
}

._text-1 {
  clear: both;
  z-index: 2;
  margin-left: 15.1964662447%;
  background-image: url('../images/homebutton.jpg');
}

._text-2 {
  z-index: 3;
  margin-left: 68.901635021%;
  background-image: url('../images/aboutbutton.jpg');
}